:root {
  /* page-content */
  --page-content-padding: 16px;

  /* colors */
  --color-text: #404040;
  --color-fuchsia: #A6328D;
  --color-green: #31AE54;
  --color-white: #FFFFFF;
  --color-grey: #FAFAFA;
  --dark-color-grey: #9E9E9E;

  /* transitions */
  --transition-duration-short: 200ms;
  --transition-duration-fast: 350ms;

  /* font-family */
  --font-family-intel: 'Intel', sans-serif;
}
