.news-user {
  display: inline-flex;
  align-items: center;
  padding: 16px;
  margin: -16px -16px 0 -16px;

  &__img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 14px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.1px;
  }
}
